$input-width-4k: 15% !important;
$input-width-desktop: 20% !important; 
$input-width-tablet: 40% !important;
$input-width-mobile: 60% !important;

$font-size-4k: 140% !important;
$font-size-desktop: 110% !important;
$font-size-mobile: 120% !important;

// dark theme colors
$primary-color: #06090f;
$secondary-color:#0d1117;
$tertiary-color: #161b22;

$primary-color-rgb:rgb(56,63,245);
$secondary-colr-rgb: rgb(15,4,58);
$tertiary-color-rgb:rgb(230,142,242);



